{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h1 class="title">LOGIN</h1>


<section class="">
  <form method="POST" action="{% url 'login' %}" class="flex flex-col gap-3">
    {% csrf_token %}
    {{ form.as_p }}
    <div clas>
      <button class="bg-black text-white px-4 py-2" type="submit">Login</button>
    </div>
    {% if error %}
      <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}
  </form>
</section>
<style>
  .error {
    color: red;
  }
  .title {
    text-align: center;
  }
</style>

{% endblock %}  
