{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="p-8 space-y-5">
    <div class="flex justify-between items-center mb-10">
        <div class="space-y-2">
            <h1 class="font-semibold text-2xl">Clientes</h1>
            <p>Listado de Clientes</p>
        </div>
        <div>
            <button class="bg-slate-950 text-white px-4 py-2 rounded-sm" id="addCliente">ADD Cliente</button>
        </div>
    </div>
    <div>
        <p class="px-4 flex items-center justify-center py-1 rounded-md gap-4">
            <svg class="w-5 h-5 inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>
            <input class="text-sm text-gray-300 border-none outline-none focus:border-none w-full" placeholder="Search by id, descripcion" type="text">
        </p>
    </div>
    <div>
        <table class="w-full">
            <thead class="">
                <tr class="bg-gray-50 rounded-md">
                    <th class="px-4 py-2 text-start font-semibold mb-5">ID</th>
                    <th class="px-4 py-2 text-start font-semibold mb-5">Nombres</th>
                    <th class="px-4 py-2 text-start font-semibold mb-5">Direccion</th>
                    <th class="px-4 py-2 text-start font-semibold mb-5">Ruc / DNI</th>
                    <th class="px-4 py-2 text-start font-semibold mb-5">Telefono</th>
                    <th class="px-4 py-2 text-start font-semibold mb-5">Email</th>
                    <th class="px-4 py-2 text-center font-semibold mb-5">Acciones</th>
                </tr>
            </thead>
            <tbody class="py-6">
                {% for cliente in clientes %}
                <tr>
                    <td class="px-4 py-4">{{ cliente.id }}</td>
                    <td class="px-4 py-2">{{ cliente.nombres }}</td>
                    <td class="px-4 py-2">{{ cliente.direccion }}</td>
                    <td class="px-4 py-2">{{ cliente.ruc_dni }}</td>
                    <td class="px-4 py-2">{{ cliente.telefono }}</td>
                    <td class="px-4 py-2">{{ cliente.email }}</td>
                    <td class="px-4 py-2 text-center">
                        <button class="bg-slate-950 text-white px-4 py-1 rounded-sm" onclick="mostrarModalCliente('{{ cliente.id }}')">Edit</button>
                        <button class="bg-red-500 text-white px-4 py-1 rounded-sm"><a href="{% url 'cliente_delete' id=cliente.id %}">DELETE</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- Modal para agregar unidad -->
<div id="Modal" class="absolute top-0 right-0 h-screen w-full bg-opacity-20 bg-black m-0 justify-end hidden flex">
    <div class="bg-white w-[30%] p-10">
        <div class="flex justify-between items-center">
            <p class="text-lg font-semibold">ADD UN CLIENTE</p>
            <button id="closeCliente">
                <svg class="h-8 w-8 "  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </button>
        </div>
        
        <form id="clienteForm" action="{% url 'clientes' %}" method="POST" class="mt-5 space-y-5">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-slate-950 text-white px-4 py-2 rounded-sm block w-full">ADD</button>
            <p id="error_message" class="text-sm text-red-500"></p>
        </form>
    </div>
</div>

<!-- Modal para editar unidad -->
<div id="ModalEdit" class="absolute top-0 right-0 h-screen w-full bg-opacity-20 bg-black m-0 justify-end hidden flex">
    <div class="bg-white w-[30%] p-10">
        <div class="flex justify-between items-center">
            <p class="text-lg font-semibold">EDIT UN CLIENTE</p>
            <button id="closeClienteEdit">
                <svg class="h-8 w-8 "  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </button>
        </div>
        
        <form id="clienteFormEdit" action="" method="POST" class="mt-5 space-y-5">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-slate-950 text-white px-4 py-2 rounded-sm w-full block">EDIT</button>
            <p id="error_messageEdit" class="text-sm text-red-500"></p>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    document.getElementById('addCliente').addEventListener('click', () => {
        document.getElementById('Modal').classList.toggle('hidden');
    });
    document.getElementById('closeCliente').addEventListener('click', () => {
        document.getElementById('Modal').classList.toggle('hidden');
    });

    document.getElementById('clienteForm').addEventListener('submit', (e) => {
        e.preventDefault();
        guardarDatos();
    });

    async function postCliente(form) {
        const response = await fetch('{% url "clientes" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: form
        });
        const data = await response.json();
        return data;
    }

    async function guardarDatos(){
        const form = new FormData(document.getElementById('clienteForm'));
        data = await postCliente(form);
        if (data.error){
            document.querySelector('input[name=descripcion]').classList.add('border-red-500');
            document.getElementById('error_message').innerText = data.error;

            setTimeout(() => {
                document.querySelector('input[name=descripcion]').classList.remove('border-red-500');
                document.getElementById('error_message').innerText = '';
            }, 3000);
        } else {
            document.getElementById('Modal').classList.toggle('hidden');
            window.location.href = "{% url 'clientes' %}";
        }
    }

    document.getElementById('closeClienteEdit').addEventListener('click', () => {
        document.getElementById('ModalEdit').classList.toggle('hidden');
    });

    let idEdit = 0;

    async function mostrarModalCliente(id) {
        const url = "{% url 'get_cliente' id=0 %}".replace('0', id);
        const response = await fetch(url, {
            method: 'GET'
        });
        const data = await response.json();

        document.getElementById('ModalEdit').classList.toggle('hidden');
        document.querySelector('#clienteFormEdit input[name="nombres"]').value = data.nombres;
        document.querySelector('#clienteFormEdit input[name="direccion"]').value = data.direccion;
        document.querySelector('#clienteFormEdit input[name="ruc_dni"]').value = data.ruc_dni;
        document.querySelector('#clienteFormEdit input[name="telefono"]').value = data.telefono;
        document.querySelector('#clienteFormEdit input[name="email"]').value = data.email;
        idEdit = data.id;
    }

    document.getElementById('clienteFormEdit').addEventListener('submit', (e) => {
        e.preventDefault();
        editarDatos();
    });

    async function putCliente(form, id) {
        const url = "{% url 'cliente_edit' id=0 %}".replace('0', id);
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: form
        });
        const data = await response.json();
        return data;
    }

    async function editarDatos(){
        const form = new FormData(document.getElementById('clienteFormEdit'));
        data = await putCliente(form, idEdit);
        if (data.error){
            document.querySelector('#clienteFormEdit input[name="ruc_dni"]').classList.add('border-red-500');
            document.getElementById('error_messageEdit').innerText = data.error;

            setTimeout(() => {
                document.querySelector('input[name=ruc_dni]').classList.remove('border-red-500');
                document.getElementById('error_messageEdit').innerText = '';
            }, 3000);
        } else {
            document.getElementById('ModalEdit').classList.toggle('hidden');
            window.location.href = "{% url 'clientes' %}";
        }
    }
</script>
{% endblock %}